<div class="space-y-4 py-8">
  @for (filter of filters; track filter) {
    <div>
      <h3 class="font-semibold mb-2">{{ filter.name }}</h3>
      <div class="flex gap-2 mt-1">
        @for (val of filter.values; track val) {
          <button
            (click)="toggleValue(filter, val.value || val)"
            [class.bg-gray-900]="filter.selected.includes(val.value || val)"
            [class.text-white]="filter.selected.includes(val.value || val)"
            [class.border-gray-300]="!filter.selected.includes(val.value || val)"
            [class.text-gray-700]="!filter.selected.includes(val.value || val)"
            class="px-3 py-2 border rounded text-sm hover:border-black transition-colors duration-200 cursor-pointer"
          >
            {{ val.name || val }}
          </button>
        }
      </div>
    </div>
  }
</div>
