<header class="fixed top-0 left-0 right-0 z-50 bg-white ">
  <nav class="container mx-auto px-4 sm:px-6 lg:px-8 h-14 flex items-center justify-between">

    <div class="w-1/3 flex justify-start">
      <nav class="h-12 flex space-x-6 overflow-x-auto">
        @for (cat of categoriesRoot; track cat._id) {
        <button (click)="selectCategory(cat)"
          class="text-gray-600 hover:text-black whitespace-nowrap relative transition"
          [class.text-black]="selectedCategory?._id === cat._id">
          {{ cat.name }}
          @if (selectedCategory?._id === cat._id) {
          <span class="absolute bottom-0 left-0 right-0 h-[2px] bg-black rounded-t"></span>
          }
        </button>
        }
      </nav>
    </div>

    <div class="w-1/3 flex justify-center">
      <a routerLink="/" class="text-2xl font-bold tracking-wide text-gray-900 select-none">
        BALENCIAGA
      </a>
    </div>

    <div class="w-1/3 flex justify-end space-x-4">
      <button mat-icon-button aria-label="Buscar">
        <mat-icon fontSet="material-icons-outlined" class="text-black">search</mat-icon>
      </button>

      <button mat-icon-button >
        <mat-icon fontSet="material-icons-outlined" class="text-2xl text-indigo-600 font-bold"
          [matBadge]="favoritesItemCount">
          favorite_border
        </mat-icon>
      </button>

      <button mat-icon-button (click)="openAuthDialog()">
        <mat-icon fontSet="material-icons-outlined" class="text-black">person_outline</mat-icon>
      </button>

      <button mat-icon-button (click)="openCartSheet()">
        <mat-icon fontSet="material-icons-outlined" [matBadge]="cartItemCount" matBadgeColor="warn">
          local_mall
        </mat-icon>
      </button>
    </div>
  </nav>

  @if (selectedCategory?.children?.length) {

  <div class="relative bg-white border-t border-gray-200 z-40">
    <nav class="container mx-auto h-10 px-8 flex items-center space-x-6 ">
      @for (sub of selectedCategory.children; track sub._id) {

      <div class="group flex h-full items-center">
        <a [routerLink]="['/products/category', sub.slug]"
          class="text-gray-600 hover:text-black whitespace-nowrap transition-colors duration-150">
          {{ sub.name }}
        </a>

        @if (sub.children?.length) {
        <div
          class="absolute left-0 right-0 top-10 hidden group-hover:block bg-white border border-gray-200 shadow-lg z-50">
          <ul class="container mx-auto px-8 py-4 grid grid-flow-col grid-rows-5 gap-x-12 gap-y-2">
            @for (child3 of sub.children; track child3._id) {
            <li>
              <a [routerLink]="['/products/category', child3.slug]"
                class="block py-1 text-gray-600 hover:text-black whitespace-nowrap">
                {{ child3.name }}
              </a>
            </li>
            }
          </ul>
        </div>
        }
      </div>
      }
    </nav>
  </div>
  }

</header>

<main class="pt-[104px]"></main>
