<div class="flex items-center justify-center space-x-4 mt-6 font-sans text-gray-700">
  <button
    class="px-4 py-1 rounded-md  hover:bg-black hover:text-white transition cursor-pointer"
    [disabled]="page === 1"
    (click)="goPrevious()"
  >
    Anterior
  </button>

  <span class="text-gray-900 font-semibold">
    {{ page }} de {{ totalPages }}
  </span>

  <button
    class="px-4 py-1 rounded-md border border-gray-300 hover:bg-black hover:text-white transition cursor-pointer"
    [disabled]="page === totalPages"
    (click)="goNext()"
  >
    Siguiente
  </button>
</div>
