<a [routerLink]="['/products/category', category.slug]" class="group relative block">
  <!-- Imagen -->
  <div class="relative h-[180px] w-full overflow-hidden rounded-lg">
    @if (category.image) {
      <img
        [src]="category.image"
        [alt]="category.name"
        class="h-full w-full object-cover object-center transition-transform duration-300 ease-in-out group-hover:scale-105"
        loading="lazy"
        (error)="onImageError($event)"
      />
    } @else {
      <div class="h-full w-full bg-gray-200 flex items-center justify-center">
        <span class="text-gray-500">No Image</span>
      </div>
    }

  </div>
  <div class="absolute inset-0 flex items-center justify-center">
    <h3 class="text-2xl font-bold text-white tracking-wide text-center px-4">
      {{ category.name }}
    </h3>
  </div>
</a>
