@use '@angular/material' as mat;

/* === THEME === */
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Lexend Deca,
    density: 0,
  ));

  /* ==== DIALOGO ==== */
  .mat-mdc-dialog-container .mat-mdc-dialog-surface {
    overflow: visible !important;
    border-radius: 24px !important;
  }
}

/* ==== BODY ==== */
body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* ==== Tailwind ==== */
@import "tailwindcss";

/* ==== Tamaño total ==== */
html, body {
  height: 100%;
}
