<mat-drawer-container class="min-h-screen">
  <mat-drawer
    #filterDrawer
    position="start"
    mode="over"
    class="w-full sm:w-96 max-w-full shadow-2xl"
  >
    <app-filter-sheet (close)="closeFilterDrawer()"></app-filter-sheet>
  </mat-drawer>

  <!-- 🛒 Drawer lateral del carrito -->
  <mat-drawer
    #cartDrawer
    position="end"
    mode="over"
    class="w-80 shadow-xl"
  >
    <app-cart-sheet></app-cart-sheet>
  </mat-drawer>

  <!-- Contenido principal -->
  <mat-drawer-content>
    <app-header
      (openCart)="openCart()"
      (openFilterDrawer)="openFilterDrawer()"
    ></app-header>

    <main class="">
      <router-outlet></router-outlet>
    </main>
        <app-footer></app-footer>

  </mat-drawer-content>
</mat-drawer-container>
